<h2>Это футер</h2>

{{#if isAddOrder}}
<script src="../../js/modal.js"></script>
{{/if}}
{{#if isAddContact}}
<script src="../../js/contact.js"></script>
{{/if}}


<!--<script src="../../js/index.js"></script>-->
