<h4>Это футер</h4>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="../../js/bootstrap.min.js"></script>
{{#if isAddOrder}}

{{!-- <script src="../../js/modal.js"></script> --}}
<script src="../../js/Modals.js"></script>
<script src="../../js/Serialize.js"></script>
<script src="../../js/AddOrder.js"></script>
<script src="../../js/hintmanufacturer.js"></script>
<script src="../../js/Summa.js"></script>
{{/if}}
{{#if isOrders}}
<script src="../../js/date.js"></script>
{{/if}}
{{#if isAddContact}}
<script src="../../js/contact.js"></script>
{{/if}}
{{#if isNewContact}}
<script src="../../js/Serialize.js"></script>
<script src="../../js/AddOrder.js"></script>
<!--<script src="../../js/newcontactorder.js"></script>-->
<script src="../../js/hintmanufacturer.js"></script>
{{/if}}
{{#if isEditContact}}
<script src="../../js/editcontact.js"></script>
{{/if}}
{{#if isContactOrders}}
<script src="../../js/date.js"></script>
{{/if}}
{{#if isEditOrder}}
<script src="../../js/Modaleditorder.js"></script>
<script src="../../js/Serializeeditorder.js"></script>
<script src="../../js/AddOrder.js"></script>
<script src="../../js/date.js"></script>
<script src="../../js/delelement.js"></script>
<script src="../../js/hintmanufacturer.js"></script>
<script src="../../js/Summa.js"></script>
{{/if}}




<!--<script src="../../js/index.js"></script>-->
