<nav>
    <div class="nav-wrapper">
       <a href="#" class="brand-logo">AutoNotes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Главная</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li><a href="/addorder">Добавить заказ</a></li>
        <li><a href="/contacts">Контакты</a></li>
       
      {{#if isAuth}}
        <li class="active" ><a href="/auth/logout">Выйти</a></li>
      {{else}}
      
         {{#if isLogin}}
        <li class="active" ><a href="/auth/login#login">Вход</a></li>
        {{else}}
        <li><a href="/auth/login#login">Вход</a></li>
        {{/if}}
      {{/if}}
       
       
      </ul>
    </div>
  </nav>